<ion-view view-title="My Ideas">
  <ion-content class="padding text-center">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search in my ideas">
      </label>
      <button class="button button-clear">
        Go
      </button>
    </div>
    <div class="text-center idea-album-title"><h4>{{ideas.category}}
      <a class="button button-small button-icon icon ion-lightbulb" ng-click="showPopup()"></a>
    </h4></div>
    <div id="slider" class="myslides padding-top">
        <ks-swiper-container loop="false" show-nav-buttons="false" slides-per-view="1" space-between="5" pagination-clickable="false">
            <ks-swiper-slide ng-repeat="idea in ideas.ideas">
                <div class="textslide">

                  <p ng-hide="usernameEnabled" ng-click="usernameEnabled=!usernameEnabled" class="vertical-center">
                    {{idea.name}}
                  </p>
                  <div ng-show="usernameEnabled" ng-click="usernameEnabled=!usernameEnabled" class="vertical-center">
                    <a href="#tab/ideas/random-project" ng-repeat="project in idea.projects">
                      {{$index}}. {{project.name}}
                    </a>
                  </div>


            </ks-swiper-slide>
        </ks-swiper-container>
    </div>
    <div class="row padding-top">
      <div class="col"><a class="button button-icon icon ion-thumbsdown"></a></div>
      <div class="col"><a class="button button-icon icon ion-thumbsup"></a></div>
    </div>

  </ion-content>
</ion-view>
