<ion-view title="New Post" class="create_post">
  <style>
    .create_post{
      background-color: #D8D8D8;
    }
  </style>
  <ion-content>
    
    <div class="list">
      <a class="item item-avatar item-button-right">
        <img src="img/adam.jpg"/>
        <h2>Vincent Ho</h2>
      </a>

      <label class="item item-input">
            <textarea rows="10" placeholder="What did you do?"></textarea>
      </label>

    </div>
    <div class="tabs tabs-icon-left tabs-background-positive">
      <a class="tab-item"><i class="ion-camera"></i> Take Photo</a>
      <a class="tab-item"><i class="ion-images"></i> Upload Picture</a>
      <a class="tab-item"><i class="ion-location"></i> Check-in</a>
      <a class="tab-item"><button class="button button-positive" style="float:right;">Post</button></a>
    </div>

  </ion-content>
</ion-view>