<ion-view view-title="Participating Project">
  <ion-content>
  <style>
    .animate-show {
      line-height: 20px;
      opacity: 1;
      padding-left: 25px;
      background: white;
    }

    .animate-show.ng-hide-add.ng-hide-add-active,
    .animate-show.ng-hide-remove.ng-hide-remove-active {
      -webkit-transition: all linear 0.5s;
      transition: all linear 0.5s;
    }

    .animate-show.ng-hide {
      line-height: 0;
      opacity: 0;
      padding-left:25px;
    }
  </style>
    <link href="css/project_style.css" rel="stylesheet">
    <div class="text-center padding-top">
      <div ng-hide="project.projectnameEnabled" ng-click="project.projectnameEnabled=!project.projectnameEnabled">
        <h3 class="thinner-font">{{project.projectname}}</h3>
      </div>
      <span ng-show="project.projectnameEnabled">
                <input ng-model="project.projectname" style="text-align:center;"><br>
                <a href="#" ng-click="project.projectnameEnabled=!project.projectnameEnabled">Save</a>
                </span>
    </div>
    <div class="list list-inset" style="margin-top : 0px">
      <div class="row" style="padding:0px">
        <div class="col" style="padding:0px">
          <div class="list-title-span">Leader</div>
          <img class="img-rounded" src="img/adam.jpg" height="45" width="45">
          <div class="list-title-span">Participants</div>
          <img class="img-rounded" src="img/ben.png" height="45" width="45">

          <div class="round-button" style="display:inline-block">
            <div class="round-button-circle"><a class="round-button">12</a></div>
          </div>


          <a class="button button-small button-icon icon ion-plus-round" style="padding: 9px 4px 1px;"></a>
        </div>
        <div class="col">
          <span class="thinner-font" style="font-style:italic">Some description of this project, this is a very veryveryvery long description</span>
        </div>
      </div>
      <div class="list-title-span">Tasks</div>

      <div ng-app="ngAnimate" ng-repeat="progress in project.progress_list">

        <i class="icon ion-ios-circle-outline" style="font-size: 18px;" ng-show="progress.projectEnabled" ng-click="progress.projectEnabled=!progress.projectEnabled"></i>
        <i class="icon ion-ios-checkmark-outline" style="font-size: 18px;" ng-hide="progress.projectEnabled" ng-click="progress.projectEnabled=!progress.projectEnabled"></i>
        <h4 ng-click="progress.slide=!progress.slide" style="display: inline-block;    margin-left: 5px; margin-bottom:0px">
                    {{progress.name}}
                </h4>

        <span class="" ng-hide="progress.display">
                    <i class="icon ion-eye" style="font-size: 18px;    color: rgba(0,0,0,0.3);"></i>
                </span>
        <div class="animate-show" ng-show="progress.slide">{{progress.detail}}</div>
      </div>
      <div>
        <h4 style="display: inline-block; margin-left: 25px; color: rgba(0, 0, 0, 0.30);">
                    Add Task
                </h4>
      </div>



      <div class="list-title-span">Places</div>
      <button class="button button-small button-clear button-positive" style="color:black;" ng-repeat="place in project.place_list" style="text-align: left; margin: 3px;">{{place.name}}</button>

    </div>
  </ion-content>
</ion-view>
