<ion-view view-title="Project">
  <ion-content>
    <div style="padding:5px">
      <div ng-repeat="project in project_list">
        <div class="text-center padding-top ">


          <div ng-hide="project.projectnameEnabled">
            <h3 class="thinner-font">{{project.projectname}}</h3>
          </div>



        </div>
        <div class="row">
          <div class="col">
            <span>Leader</span>
            <br>
            <img class="img-rounded" src="img/adam.jpg" height="45" width="45">
            <br>
            <span>Participants</span>
            <br>
            <img class="img-rounded" src="img/ben.png" height="45" width="45">
            <img class="img-rounded" src="img/max.png" height="45" width="45">
            <br>
          </div>
          <div class="col">
            <span class="thinner-font" style="font-style:italic">Some description of this project, this is a very veryveryvery long description</span>
          </div>
        </div>
        <div style="padding-left:8px">
          <span>Tasks</span>
        </div>
        <style>
          .animate-show {
            line-height: 20px;
            opacity: 1;
            padding: 10px;
            background: white;
          }

          .animate-show.ng-hide-add.ng-hide-add-active,
          .animate-show.ng-hide-remove.ng-hide-remove-active {
            -webkit-transition: all linear 0.5s;
            transition: all linear 0.5s;
          }

          .animate-show.ng-hide {
            line-height: 0;
            opacity: 0;
            padding: 0 10px;
          }
        </style>
        <div ng-app="ngAnimate" ng-repeat="progress in project.progress_list">
          <h4 ng-click="project.slide=!project.slide" style="display: inline-block;   padding-top:0; margin-left: 5px; margin-bottom:0px">{{progress.name}}
    </h4>
          <div class="animate-show" ng-show="project.slide">{{progress.detail}}</div>
        </div>
        <div>
          <div style="padding-left:8px; padding-top:10px">
            <span>Places</span>
            <br>
          </div>
          <button class="button button-small button-clear button-positive" ng-repeat="place in project.place_list" style="text-align: left; margin: 3px;">{{place.name}}</button>
          <div class="text-center">
            <a class="button button-clear button-assertive" style="text-align: left;">
        Request to Join
    </a>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
