<ion-view view-title="Project">
 <style>
    hr.first {
      border: 0;
      height: 1px;
      width: 30%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    hr.second {
      border: 0;
      height: 1px;
      width: 10%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    .box1 {
      border-radius: 25px;
      background: #E8E8E8;
      height: 6em;
      text-align: center;
    }
 </style>
  <ion-content>
    <link href="css/project_style.css" rel="stylesheet">
    <div style="padding:5px">
        <div class="text-center padding-top padding-horizontal">


          <div ng-hide="project.projectnameEnabled">
            <h3 class="thinner-font">{{project.projectname}}</h3>
          </div>


        <hr class="first">
        <hr class="second">
        </div>
        <div class="row" style="padding-left:8px">
          <div class="col" style="padding:0px; text-align: center;">
            <img class="img-rounded-big" src="img/adam.jpg">
            <br>
          </div>
          <div class="col" style="padding:0px;">
            <br>
            <span class="thinner-font" style="font-style:italic;">{{project.projectDescription}}</span>
          </div>
        </div>
        <div style="padding-left:8px">
          <div class="list-title-span" style="text-align:center;">Steps</div>
          <div class = "box box1"><h4 class="thinner-font vertical-center" style="color:#4A4A4A; text-align:center">Read newspaper and browse Internet to brainstorm ideas.</h4></div>
          <div style="text-align:center;"><i class="icon ion-chevron-down custom-icon"></i></div>
          <div class = "box box1"><h4 class="thinner-font vertical-center" style="color:#4A4A4A; text-align:center">Research deeper to narrow down candidate.</h4></div>
          <div style="text-align:center;"><i class="icon ion-chevron-down custom-icon"></i></div>
          <div class = "box box1"><h4 class="thinner-font vertical-center" style="color:#4A4A4A; text-align:center">Interview with potential user to get a better understanding of the idea.</h4></div>
        </div>
        <div class="text-center">
          <a class="button button-clear button-assertive" style="text-align: left;">
        Request to Join
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
