<ion-view view-title="Account">
  <style>
    .list {
      margin: 10px 10px;
    }

    .project-btn-list-item {
      text-decoration: none;
      display: block;
      font-size: 1.12em;
      padding-bottom: 5px;
    }

    .project-btn-list-item .icon-accessory {
      color: #ccc;
      font-size: 16px;
    }
  </style>
  <ion-content>
    <!--<ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle>
      </ion-list>-->
    <div class="text-center padding-top">
      <h1 class="thin-font">{{accountInfo.username}}</h1>
      <span>{{accountInfo.occupation}}</span>
      <br>
      <span>{{accountInfo.origination}}</span>

    </div>
    <div class="list list-inset">
      <span>Big Idea</span>
      <h4 class="thinner-font padding-left">{{accountInfo.idea}}</h4>
      <span>Leading Projects</span>
      <div class="padding">
        <a class="project-btn-list-item" style="text-align: left;" href="#tab/account/my-project" ng-repeat="idea_project in accountInfo.idea_project_list ">
        {{idea_project.name}}<i class="pull-right icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
      <span>Participating Projects</span>
      <div class="padding">
        <a class="project-btn-list-item " style="text-align: left;" href="#tab/account/partic-project" ng-repeat="participating_project in accountInfo.participating_project_list ">
        {{participating_project.name}} <i class="pull-right icon ion-chevron-right icon-accessory"></i>
        </a>

      </div>
      <span>Education</span>
      <div class="padding">
        <a style="text-align: left;" href="javascript:void(0)" class="padding-right" ng-repeat="education in accountInfo.educations">
        &middot;{{education}}
      </a>
      </div>
      <span>Skills, Endorsements</span>
      <div class="padding">
        <a style="text-align: left;" href="javascript:void(0)" class="padding-right" ng-repeat="skills_endorsement in accountInfo.skills_endorsements">
        &middot;{{skills_endorsement.skill}}-{{skills_endorsement.endorsements}}
      </a>
      </div>
    </div>
    <div class="text-center">
      <a class="button button-clear button-assertive" style="text-align: left;" href="#tab/account/edit">
      Edit Profile
      </a>
    </div>
  </ion-content>
</ion-view>
