<ion-view view-title="Account">
  <style>
    .list {
      /*margin: 10px 10px;*/
    }

    .project-btn-list-item {
      text-decoration: none;
      display: block;
      font-size: 1.2em;
      padding-bottom: 8px;
      padding-top: 8px;
      font-weight: 200;
    }

    .project-btn-list-item .icon-accessory {
      color: #ccc;
      font-size: 16px;
    }

    .account-list-title-span {
      font-size: 0.8em;
      padding-left: 8px;
      padding-top: 10px;
      color: #8E8E93;
      text-transform: uppercase;
      text-align: center;
    }

    .list-items-wrapper {
      background-color: #FFFFFF;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    .border-seperate {
      border-bottom: 1px solid rgba(128,128,128,0.3);
    }

    .tag {
      font-weight: 200;
    }
    .profile-bg{
      position: relative;
    }

    .profile-bg:after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-image: url(img/bg3.png); 
      background-size: 100%;
      background-repeat:no-repeat;
      opacity: 0.7;
    }

    hr.first {
      border: 0;
      height: 1px;
      width: 30%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    hr.profile {
      border: 0;
      height: 1px;
      width: 60%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    }

    hr.second {
      border: 0;
      height: 1px;
      width: 10%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
  </style>
  <ion-content style="background-color: white; color:#4A4A4A">
  <!--<ion-content style="background-color: #EAEAEA; color:#4A4A4A">-->
    <!--<ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle>
      </ion-list>-->
    <div class="profile-bg text-center padding-top">
      <h1 class="thinner-font" style="color:white">{{accountInfo.username}}</h1>
      <hr class="profile">
      <div class="header padding text-center">
        <img src="{{accountInfo.profile_pic}}" class="img-rounded-big" style="border: 2px solid white;"/>
      </div>
      <h5 class="thinner-font" style="color:white">{{accountInfo.occupation}}</h3>
      <h5 class="thinner-font" style="color:white">{{accountInfo.origination}}</h3>
      <br>
    </div>
    <br>
    <div class="list" style="    background-color: white;">
      <div class="account-list-title-span">BIG IDEA</div>
      <h4 class="thinner-font padding-left padding-right" style="margin-top: 0px;margin-bottom: 0px;color:#4A4A4A; text-align:center">{{accountInfo.idea}}</h4>
      <hr class="first">
      <hr class="second">
      <div class="account-list-title-span">STEPS</div>
      <div class="text-center">
        <a class="button button-design-ongoing" ng-click="accountInfo.step1_completed=!accountInfo.step1_completed" ng-hide="accountInfo.step1_completed">1</a>
        <a class="button button-design-done" ng-click="accountInfo.step1_completed=!accountInfo.step1_completed" ng-show="accountInfo.step1_completed">1</a>
        <a class="button button-design-ongoing" ng-click="accountInfo.step2_completed=!accountInfo.step2_completed" ng-hide="accountInfo.step2_completed">2</a>
        <a class="button button-design-done" ng-click="accountInfo.step2_completed=!accountInfo.step2_completed" ng-show="accountInfo.step2_completed">2</a>
        <a class="button button-design-ongoing" ng-click="accountInfo.step3_completed=!accountInfo.step3_completed" ng-hide="accountInfo.step3_completed">3</a>
        <a class="button button-design-done" ng-click="accountInfo.step3_completed=!accountInfo.step3_completed" ng-show="accountInfo.step3_completed">3</a>
      </div>
      <hr class="first">
      <hr class="second">
      <div class="account-list-title-span">EDUCATION</div>
      <div class="padding-horizontal list-items-wrapper" style="text-align: center;">
        <a style="text-align: center;" href="javascript:void(0)" class="padding-right tag" ng-repeat="education in accountInfo.educations">
        &middot; {{education}}
      </a>
      </div>
      <hr class="first">
      <hr class="second">
      <div class="account-list-title-span">SKILLS, ENDORSEMENTS</div>
      <div class="padding-horizontal list-items-wrapper" style="text-align: center;">
        <a style="text-align: center;" href="javascript:void(0)" class="padding-right tag" ng-repeat="skills_endorsement in accountInfo.skills_endorsements">
        &middot; {{skills_endorsement.skill}}-{{skills_endorsement.endorsements}}
      </a>
      </div>
      <hr class="first">
      <hr class="second">
    </div>
      <!--<ion-list>
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="step in accountInfo.steps" type="item-text-wrap">
          <h2>{{step.type}}</h2>
          <p>{{step.detail}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-positive" ng-click="step_remove(step)">
            Completed
          </ion-option-button>
        </ion-item>
      </ion-list>-->
    </div>
    <div class="text-center">
      <a class="button button-clear button-assertive" style="text-align: left;" href="#tab/account/edit">
      Edit Profile
      </a>
    </div>
  </ion-content>
</ion-view>
