<ion-view view-title="Project">
  <ion-content>
  <div ng-repeat="project in project_list">
    <div class="text-center padding-top">
    	
    	<div ng-hide="project.projectnameEnabled" ng-click="project.projectnameEnabled=!project.projectnameEnabled">
	      <h3>{{project.projectname}}</h3>
	    </div>
	    <span ng-show="project.projectnameEnabled">
	      <input ng-model="project.projectname" style="text-align:center;"><br>
	      <a href="#" ng-click="project.projectnameEnabled=!project.projectnameEnabled">Save</a>
	    </span>


    	<hr style="width:50%">    	
    	
    	
	</div>
        <span>Leader</span><br>
        <img src="img/adam.jpg" height="45" width="45"><br>
        <span>Participants</span><br>
        <img src="img/ben.png" height="45" width="45">
        <img src="img/max.png" height="45" width="45">
	<a class="button button-small button-icon icon ion-plus-round" style="padding: 2px 4px 1px;"></a>
	  <hr style="margin-bottom:0;">
	  <span>Progress</span>
       <style>
.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
  background:white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}
	
       </style>
       <div ng-app="ngAnimate" ng-repeat="progress in project.progress_list" style="margin: 5px;border:2px solid black;border-radius: 10px;"> 
	<h4 ng-click="progress.slide=!progress.slide">{{progress.name}}<i class="icon ion-ios-circle-outline" ng-show="progress.projectEnabled" ng-click="progress.projectEnabled=!progress.projectEnabled"></i><i class="icon ion-ios-circle-filled" ng-hide="progress.projectEnabled" ng-click="progress.projectEnabled=!progress.projectEnabled"></i><div class="col text-right" ng-hide="progress.display">Display<i class="icon ion-checkmark-circled"></i></div></h4>
	<div class="animate-show" ng-show="progress.slide">{{progress.detail}}</div>
       </div><br>
	 <a class="button button-small button-icon icon ion-plus-round" style="padding: 2px 4px 1px;"></a>  
	<div> 
	<hr style="margin-bottom:0;">
          <span>Places</span><br>
	 <button class="button button-small button-outline button-positive" ng-repeat="place in project.place_list" style="text-align: left; margin: 3px;">{{place.name}}</button> <a class="button button-small button-icon icon ion-plus-round" style="padding: 2px 4px 1px;"></a>
	<hr style="margin-bottom:0;">
          <span>Request</span><br>
	<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="request in project.requests" type="item-text-wrap">
        <h2>{{request.type}}</h2>
        <p>{{request.detail}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="request_remove(request)">
          Disprove
        </ion-option-button>
      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>
