<ion-view view-title="Ideas">
  <ion-content class="padding">
    <style>
    #cloud-dynamic {
      width: 100%;
      height: 300px;
    }
    </style>
    <div class="item-input-inset" style="padding: 0;">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search for a category" ng-model="search_data.text">
      </label>
      <button ng-show="searching" class="button button-clear" style="line-height:30px; min-height:30px" ng-click="search_data.text=''">
        Cancel
      </button>
    </div>
    <div class="text-center" ng-if="!searching" >
      <jqcloud words="words" steps="10" shape="elliptic" delay="10" id="cloud-dynamic" auto-resize="true" font-size="{from:0.09, to:0.03}"></jqcloud>

      <br>
      <div class="">
        <img src="img/ben.png" class="img-rounded">
        <img src="img/max.png" class="img-rounded">
        <img src="img/adam.jpg" class="img-rounded">
        <img src="img/ben.png" class="img-rounded">
        <img src="img/max.png" class="img-rounded">
        <img src="img/adam.jpg" class="img-rounded">
      </div>
    </div>
    <div ng-if="searching">

      <ul class="list search-result-list">

        <div class="item" ng-repeat="matched_idea in matched_ideas">

          <a ng-href="#tab/ideas/idea-album/{{matched_idea.id}}">
            {{matched_idea.category}}
          </a>
        </div>

      </ul>
    </div>
  </ion-content>
</ion-view>
