<ion-view view-title="Ideas">
  <ion-content class="padding text-center">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search for an idea">
      </label>
      <button class="button button-clear">
        Go
      </button>
    </div>
    <jqcloud words="words" id="cloud-dynamic" auto-resize="true" colors="{{colors}}" steps="7" font-size="{from:0.09, to:0.05}"></jqcloud>

    <br>
    <div class="">
      <img src="img/ben.png" class="img-rounded">
      <img src="img/max.png" class="img-rounded">
      <img src="img/adam.jpg" class="img-rounded">
      <img src="img/ben.png" class="img-rounded">
      <img src="img/max.png" class="img-rounded">
      <img src="img/adam.jpg" class="img-rounded">
    </div>
  </ion-content>
</ion-view>
