<ion-view view-title="Account">
  <ion-content>
    <!--<ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>-->
    <div class="text-center padding-top" >
    	

    	<div ng-hide="usernameEnabled" ng-click="usernameEnabled=!usernameEnabled">
	      <h3>{{username}}</h3>
	    </div>
	    <span ng-show="usernameEnabled">
	      <input ng-model="username" style="text-align:center;"><br>
	      <a href="#" ng-click="usernameEnabled=!usernameEnabled">Save</a>
	    </span>


    	<hr style="width:50%">


    	<span ng-hide="occupationEnabled" ng-click="occupationEnabled=!occupationEnabled">
	      {{occupation}}
	    </span>
	    <span ng-show="occupationEnabled">
	      <input ng-model="occupation" style="text-align:center;"><br>
	      <a href="#" ng-click="occupationEnabled=!occupationEnabled">Save</a>
	    </span>
		<br>
	    <span ng-hide="originationEnabled" ng-click="originationEnabled=!originationEnabled">
	      {{origination}}
	    </span>
	    <span ng-show="originationEnabled">
	      <input ng-model="origination" style="text-align:center;"><br>
	      <a href="#" ng-click="originationEnabled=!originationEnabled">Save</a>
	    </span>
    	

    	
    	
    	
	</div>

	<div class="list list-inset">
	  <label class="item item-input">
	    <textarea style="text-align: center;" placeholder="Big Idea">{{idea}}</textarea>
	  </label>
	  <div ng-repeat="idea_project in idea_project_list ">
		<a class="button button-block  icon-right ion-chevron-right button-outline button-positive" style="text-align: left;" href="#tab/account/my-project">
		  {{idea_project.name}}
		</a>
	  </div>
	  <hr style="margin-bottom:0;">
	  <span>Participating</span>

	  <div> 
		<button ng-repeat="participating_project in participating_project_list " class="button button-block  icon-right ion-chevron-right button-outline button-positive" style="text-align: left;">
		  {{participating_project.name}}
		</button>
	  </div>

	  <hr style="margin-bottom:0;">
	  <span>Education</span>

	  <div>
	  	<span ng-repeat="education in educations" >
			<button class="button button-small button-outline button-positive" style="text-align: left;">
			  {{education}} 
			</button>
		</span>
		<a class="button button-small button-icon icon ion-plus-round" style="padding: 2px 4px 1px;"></a>
	  </div>

	  <hr style="margin-bottom:0;">
	  <span>Skills, Endorsements</span>

	  <div>
	  	<span ng-repeat="skills_endorsement in skills_endorsements" >
			<button class="button button-small button-outline button-positive" style="text-align: left;">
			  {{skills_endorsement.skill}} - {{skills_endorsement.endorsements}}
			</button>
		</span>
		<a class="button button-icon icon button-small ion-plus-round" style="padding: 2px 4px 1px;"></a>
	  </div>


	</div>

	<div class="text-center">
		<a class="button button-outline button-assertive" style="text-align: left;" href="#tab/account/edit">
			  Edit Profile (Do we need it?)
		</a>
	</div>
  </ion-content>
</ion-view>
