<ion-view view-title="Ideas">
  <ion-content class="padding text-center">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search for an idea">
      </label>
      <button class="button button-clear">
        Search
      </button>
    </div>
    <div id="myCanvasContainer">
      <canvas width="300" height="300" id="myCanvas">
        <p>Idea Cloud Canvas</p>
      </canvas>
    </div>
    <div id="tags">
      <ul>
        <li ng-repeat="category in ideas" on-last-repeat><a href="/">{{category.category}}</a></li>
      </ul>
    </div>
    <a class="button icon-right  button-outline  ion-chevron-right button-calm" href="#tab/ideas/idea-album">My Ideas Album</a>
    
  </ion-content>
</ion-view>
