<ion-view view-title="Chats">
  <ion-content>
    <ion-list ng-repeat="project_chat in chats">
      <div class="item item-divider">
        {{ project_chat.project}}
      </div>

      <ion-item ng-repeat="chat in project_chat.taskChats" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(project_chat, chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
