/* Empty. Add your own CSS if you like */

.img-rounded {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#cloud-dynamic {
  text-align: center;
  width: 100%;
  height: 300px;
}
