/* Empty. Add your own CSS if you like */

.img-rounded {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 3px 3px 15px 2px gray;
}
#cloud-dynamic {
  text-align: center;
  width: 100%;
  height: 300px;
}
div.textslide {
  height: 20vh;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}
div.idea-album-title {
  padding-top: 20%;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
textarea {
  /*-webkit-appearance: caret;*/
  -moz-appearance: caret;
  -o-appearance: caret;
  appearance: caret;
}
.search-result-list .item {
  border-style: none;
  padding: 10px
}
.search-result-list .item a {
  text-decoration: none;
}
.thin-font {
  font-weight: 300;
}
.thinner-font {
  font-weight: 200;
}
.thinnest-font {
  font-weight: 100;
}
.round-button {
  width: 40px;
}
.round-button-circle {
<<<<<<< HEAD
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border-style: none;
    overflow:hidden;

    background: #85cdfa;
    opacity:0.5;
    box-shadow: 3px 3px 15px 2px gray;
}
.round-button-circle:hover {
	background:black;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;

	text-align:center;
	color:Black;
  opacity:1;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
=======
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border-style: none;
  overflow: hidden;
  background: #4679BD;
  box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
  background: #30588e;
}
.round-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #e2eaf3;
  font-family: Verdana;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
>>>>>>> origin/master
}
