/* Empty. Add your own CSS if you like */

.img-rounded {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#cloud-dynamic {
  text-align: center;
  width: 100%;
  height: 300px;
}
div.textslide {
  height: 20vh;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}
div.idea-album-title {
  padding-top: 20%;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
textarea {
  -webkit-appearance: caret;
  -moz-appearance: caret;
  -o-appearance: caret;
  appearance: caret;
}
.search-result-list .item {
  border-style: none;
  padding: 10px
}
.search-result-list .item a {
  text-decoration: none;
}
